    
# Para manipulação e processamento de dados
pandas==2.2.3
openpyxl==3.1.5

# Para autenticação e comunicação com as APIs do Google Drive
google-api-python-client==2.126.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0

# Para fazer requisições HTTP (enviar notificações ao Google Chat)
requests==2.31.0