<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="https://files.cercomp.ufg.br/weby/up/1/o/favicon.png?1403268073">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horários da FCT</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dataTables.searchHighlight.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h3 class="mb-4"><i class="bi bi-calendar3"></i> Horários da FCT</h3>
        <h4 id="clock"></h4>

        <div class="btn-group" role="group" aria-label="Filtros de sala">
            <button type="button" class="btn btn-outline-primary" data-filter="Mini-auditórios">Mini-auditórios</button>
            <button type="button" class="btn btn-outline-primary" data-filter="Salas">Salas</button>
            <button type="button" class="btn btn-outline-primary" data-filter="Labs INF">Labs INF</button>
            <button type="button" class="btn btn-outline-primary" data-filter="Labs Mat-Geo">Labs Mat-Geo</button>
            <button type="button" class="btn btn-outline-primary" data-filter="Labs Prod">Labs Prod</button>
            <button type="button" class="btn btn-outline-primary" data-filter="Labs Transp">Labs Transp</button>
        </div>
        
        <table id="scheduleTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Horário</th>
                    <th>Segunda</th>
                    <th>Terça</th>
                    <th>Quarta</th>
                    <th>Quinta</th>
                    <th>Sexta</th>
                    <th>Sábado</th>
                    <th data-order="asc">Sala</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule.horario }}</td>
                    <td>{{ schedule.segunda }}</td>
                    <td>{{ schedule.terca }}</td>
                    <td>{{ schedule.quarta }}</td>
                    <td>{{ schedule.quinta }}</td>
                    <td>{{ schedule.sexta }}</td>
                    <td>{{ schedule.sabado }}</td>
                    <td>{{ schedule.sala }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.searchHighlight.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.highlight.js') }}"></script>
    <script src="{{ url_for('static', filename='js/relogio.js') }}"></script>
    <script>
        $(document).ready(function() {
            var table = $('#scheduleTable').DataTable({
                searchHighlight: true,
                "dom": 'frtip', //Oculta quantidade visuzalização por pagina

                //ordena a coluna 7(Sala) em ordem crescente
                "order":[[7, "asc"]],

                //altera o idioma do datatables para português
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json",
                    searchPlaceholder: 'Sala/Matéria/Horário'
                },
                //Mostra 100 por pagina
                "pageLength":100,
            });

            // Função para destacar a coluna do dia atual
            function highlightTodayColumn() {
                var today = new Date().getDay();
                console.log(today)
                var days = ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'];
                var todayName = days[today];
                
                // Encontra o índice da coluna correspondente ao dia atual
                var columnIndex = $('th:contains(' + todayName + ')').index();
                
                if (columnIndex !== -1) {
                    // Aplica a classe de destaque à coluna
                    table.column(columnIndex).nodes().to$().addClass('highlight-column');
                    $(table.column(columnIndex).header()).addClass('highlight-column');
                }
            }

            // Chama a função para destacar a coluna
            highlightTodayColumn();

            // Função para filtrar a tabela
            var filterLists = {
                'Salas': ['108', '208', '308', '504', '505', '506', '507', '508'],
                'Mini-auditórios': ['Terreo', '102', '202', '302', '402', '502'],
                'Labs INF': ['303', '304', '403', '109'],
                'Labs Mat-Geo': ['103', '105', '106', '207', '305', '306', '307'],
                'Labs Prod': ['206', '404', '503A', '503B'],
                'Labs Transp': ['T02', '203', '204', '205']
            };

            function filterTable(filter) {
                var regex = filterLists[filter].map(function(sala) {
                    return '^' + sala + '$';
                }).join('|');
                table.column(7).search(regex, true, false).draw();
            }

            $('.btn-group .btn').on('click', function() {
                var filter = $(this).data('filter');
                $('.btn-group .btn').removeClass('active');
                $(this).addClass('active');
                
                filterTable(filter);
            });
        });
    </script>
</body>
</html>